<h3>1.5 Bojůvky</h3>
<p>Popis: Venku vládne chaos - v dešti vidíte sem tam pobíhat spoustu křičících postav, nebo alespoň jejich siluet. Vesnicí se míhají postavy útočníků - někteří pronásledují vyděšené vesničany, jiní se snaží vlámat do domů nebo ničí hospodářská stavení. Vesničané co vyběhli ven se snaží dostat zpátky a zabarikádovat se nebo se alespoň někde schovat. Pár jich vzalo do rukou obuchy či vidle, ale proti přesile nepřátel nemají moc šanci. Okolo se zformovala i jedna nebo dvě malé skupinky takovýchto obránců, ty ale moc netuší kam skočit dřív a útočníci je spíše obíhají a ignorují.</p>
<p>Příklady výjevů:</p>
<ol>
  <li>Goblin, co se na dvorku snaží naházet slepice do pytle (a moc mu to nejde)</li>

</ol>

Goblin, co vběhne za dítětem do stodoly, aby obratem vyběhl ven se vzteklým psem v patách. Zachrání ho až psův “krátký” provaz.
Goblin, co s nadšením v očích hází olejovou lampu skrz okno do domu plného lidí
Mladá křičící žena vlečená za vlasy ven z domu goblinem, který si do ní občas kopne.
Goblin, co vrženou sekyrou dekapituje vzteky syčící kočku.
S holí v ruce proti jednomu goblinovi stojící šestnáctiletý mladík, kterého druhý goblin probodne ze zálohy
