<h3>1.1 Na cestě (volitelná kapitola)</h3>
<p>Volitelné scény, které dávají hráčům prostor pro postupné představení svých postav a načrtnutí jejich vzájemných vztahů. Cestu je nejlepší popsat jako koláž různých scén a momentů. Každá krátká scéna by se měla soustředit na jednu až dvě postavy a dát jim prostor k tomu ukázat jaké jsou a v čem vynikají.</p>
<h5>Putování přes překážky</h5>
<ol>
  <li>rámcově popište cestu (odkud kam postavy putují, jakým terénem, za jakého počasí atp.)</li>
  <li>vyzvěte některého z hráčů, aby vám řekl, na jakou překážku na své cestě skupina narazila</li>
  <li>vyzvěte jiného hráče, aby popsal, jak právě jeho postava (popř. jeho postava spolu s jednou další) pomohla tuto výzvu překonat</li>
  <li>dejte ostatním hráčům trochu prostoru aby událost dokreslili v nějakém detailu nebo popisem dílčího přispění jejich vlastních postav</li>
  <li>najděte v celém popisu něco, co se mohlo (i přes celkový úspěch) nepovést a způsobit tak nepříjemné následky</li>
  <li>hod na dovednost nebo na záchranu - pokud neúspěch, postavy cesta něco stála (drobný předmět, zranění, únava, vzezření...)</li>
</ol>
<h5>Příběhy od táboráku</h5>
<p>Zamíchejte žolíkové karty a nechte hráče táhnout po jedné, která určí, jaký typ příběhu mají vyprávět:</p>
<ul>
  <li>Srdce: Milostný či romantický příběh</li>
  <li>Kříž: Příběh o bolesti či smrti</li>
  <li>Pika: Příběh o prohře či ztrátě</li>
  <li>Káro: Příběh o vítězství nebo zisku</li>
</ul>
<p>Každý hráč následně odvypráví krátký příběh (podle své chuti jej shrne v pár větách, nebo jej může rozvést na pár minut skutečného vyprávění). Ideálně by mělo jít o příběh ukazující minulost jeho postavy popř. její motivace a ambice</p>
