<h3>1.2 V hostinci (volitelná kapitola)</h3>
<p>Popis: vyčleněná místnost ve velkém domě místního statkáře, o jeho chod se stará jeho žena, za okny prší a blíží se bouřka, ale uvnitř je teplo a praská tam příjemně oheň, chlapi hrají karty atp.</p>
<p>Buď se hráčů zeptejte, o čem se jejich postavy baví a zkuste podnítit rozhovor mezi samotnými postavami, nebo nechte přisednout někoho z místních, kdo postavy uvítá a zvědavě se začne vyptávat na jejich původ, cíl atp.</p>
<p>Zde máte možnost odehrát nějaké sociální interakce a vykreslit a přiblížit hráčům místní prostředí jako něco skutečného. Informace které se lze dozvědět (můžete vybrat či hodit kostkou):</p>
<ol>
  <li>Chystá se svatba</li>
  <li>Někdo nedávno zemřel</li>
  <li>Někomu se narodilo dítě</li>
  <li>Někdo se chystá příští jaro rozšířit statek</li>
  <li>Baronův syn se prý zamiloval do nějaké selky a proto si nechce vzít druhou dceru hraběte</li>
  <li>Od doby co před šestnácti lety vládci sousedního panství zemřelo dítě nezestárla jeho manželka ani o den</li>
  <li>V poslední době sílí banditismus a někteří prý údajně viděli i skřety! Panstvo tomu zjevně nevěří, ale co ti o tom vědí. Sice vypsali odměnu, ale co na tom, když není, kdo by ji získal, a odměna je moc malá, aby do místního kraje nalákala nějaké skřetobijce.</li>
  <li>Nějaký dobrodružný příběh o místním hrdinovi - hobitím paladinovi (skutečně jen příběh, žádné další info - určitě ne o hrobce)</li>
  <li>V okolí údajně léčivý pramen</li>
  <li>V okolí menhir na vrcholu kopce</li>
  <li>V okolí hrobka hobitího hrdiny</li>
  <li>V okolí most, který podle jedné legendy postavili skřítci, podle druhé sám ďábel</li>
  <li>V okolí zřícenina hradu co patřil dříve vládnoucímu rodu</li>
  <li>V okolí černý les - i přes den šerý lesní mokřad údajně prokletý zabitím lesní víly</li>
  <li>V okolí mýtina, na které při úplňku tančí víly a při novoluní ježibaby (nebo to bylo obráceně? Místní se o tom klidně mohou před postavami pohádat)</li>
</ol>
<%= simple_form_for @adventure do |f| %>
  <%= f.hidden_field :current_chapter, value: 1.3 %>
  <%= f.submit 'Pokračovat/Přeskočit' %>
<% end %>











