<h1>Editing Non Player Character</h1>

<%= render 'form', non_player_character: @non_player_character %>

<%= link_to 'Show', @non_player_character %> |
<%= link_to 'Back', non_player_characters_path %>
